
<% if @order.errors.any? %>
  <section class="alert alert-danger">
    <h1>This seems half-baked:</h1>
    <ul>
      <% @order.errors.each do |column, message| %>
        <li>
          <strong><%= column.capitalize %></strong> <%= message %>
        </li>
      <% end %>
    </ul>
    </section>
<% end %>

<p>Please provide the following information to complete your order, and hey, don't give us your real credit card. This is a student project and our data security is less than upper-crust. </p>


<%= form_with model: @order, url: order_path(@order), method: :patch do |f| %>
  <div>
  <%= f.label :customer_name %>
  <%= f.text_field :customer_name %>
  </div>

  <div>
  <%= f.label :mailing_address %>
  <%= f.text_field :mailing_address %>
  </div>

  <div>
  <%= f.label :cc_number %>
  <%= f.number_field :cc_number %>
  </div>

  <div>
  <%= f.label :cc_expiration %>
  <%= f.number_field :cc_expiration %>
  </div>

  <div>
  <%= f.label :cc_security_code %>
  <%= f.number_field :cc_security_code %>
  </div>

  <div>
  <%= f.label :zip_code %>
  <%= f.number_field :zip_code %>
  </div>

  <%= f.submit "Complete Order" %>

<% end %>
