<p>Please provide the following information to complete your order, and hey, don't give us your real credit card. This is a student project and our data security is less than upper-crust. </p>
mailing_address, :customer_name, :cc_number, :cc_expiration, :cc_security_code, :zip_code, :cart_status


<%= form_with model: @order, class: "order-input" do |f| %>
  <%= f.label :customer_name %>
  <%= f.text_field :customer_name %>

  <%= f.label :mailing_address %>
  <%= f.text_field :mailing_address %>

  <%= f.label :cc_number %>
  <%= f.number_field :cc_number %>

  <%= f.label :cc_expiration %>
  <%= f.number_field :cc_expiration %>

  <%= f.label :cc_security_code %>
  <%= f.label :cc_security_code %>

  <%= f.label :zip_code %>
  <%= f.label :zip_code %>

  <%= f.submit "Complete Order" %>

<% end %>
