<h3> Order Show Page </h3>

<!-- if order requested is user's shopping cart -->
<% if @order.id == session[:order_id] %>
<% @order.order_items.arrange_by_created_at.each do |item| %>
  <p>Product: <%= item.product.name %></p>
  <p>Quantity: <%= item.quantity %><p>
    <p><%= form_tag edit_item_quantity_path, method: :patch do %>    
    <%= hidden_field_tag :order_item_id, item.id %>
    <%= text_field_tag :new_quantity %>
    <%= submit_tag "Edit Quantity" %>
    <% end %></p>
  <p><%= form_tag delete_from_cart_path, method: :delete do %>    
    <%= hidden_field_tag :order_item_id, item.id %>
    <%= submit_tag "Delete This Item" %>
    <% end %></p>
<% end %>

<p>Total Cost: <%= @order.total_cost %>

<%= link_to "Let's Get This Bread", edit_order_path(@order), class: "btn btn-primary" %>

<!--if one of the order's merchants is logged in and @order is paid, complete or cancelled, shows customer details and only merchant's order items-->
<% elsif @order.cart_status != "pending" && session[:merchant_id] && @order.return_merchants.include?(session[:merchant_id]) %>
  <h2>Order <%= order.id %>: Items Requested From Your Store</h2>
  <%= @order.return_merchant_items(session[:merchant_id]).each do |item| %>
    <p>Product: <%= item.product.name %></p>
    <p>Quantity: <%= item.quantity %><p>
  <% end %>

  <h4>Customer Info</h4>

  <p>Name: <%= @order.customer_name %></p>
  <p>Email Address: <%= @order.email_address %></p>
  <p>Mailing Address: <%= @order.mailing_address %></p>
  <p>Credit Card: **** **** **** <%= @order.cc_number(-4...-1)%></p>
  <p>Credit Card Expiration: <%= @order.cc_expiration %>
  <p>Cart Status: <%= @order.cart_status %></p>
  <p>Order placed at: <%= @order.updated_at %>

  <!-- we'll want links to Complete Order and Cancel Order here -->

<!-- if no logged-in user, or if logged-in user doesn't match any of @order's merchants -->
<% else %>
  <% @order.order_items.arrange_by_created_at.each do |item| %>
    <p>Product: <%= item.product.name %></p>
    <p>Quantity: <%= item.quantity %><p>
  <% end %>

  <p>Total Cost: <%= @order.total_cost %></p>
  <p>Order Status: <%= @order.cart_status %></p>

<% end %>
