<section>
  <%= form_with model: @product do |f| %>
 
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control", :placeholder => 'Bread puns please.'%>
    </div>

    <div class="form-group">
      <%= f.label :price %>
      <%= f.text_field :price, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :photo_URL %>
      <%= f.text_area :photo_URL, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :stock %>
      <%= f.number_field :stock, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :category_ids %>

      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |f| %>
        <br>
        <%= f.check_box %>
        <%= f.label %>
      <% end %>


    </div>

    <div class="form-group">
      <%= f.label :active %>
      <%= f.select :active, [['True', true], ['False', false]], class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit class: "btn btn-light" %>
    </div>
  <% end %>
</section>
