<section>

    <h2>All Products</h2>
    <table class="table table-hover">
      <thead class="thead">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Photo_URL</th>
          <th scope="col">Stock</th>
          <th scope="col">Merchant ID</th>
          <th scope="col">Categories</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= link_to product.name, product_path(product) %></td>
            <td><%= product.description %></td>
            <td><%= product.price %></td>
            <td><%= product.photo_URL %></td>
            <td><%= product.stock %></td>
            <td><%= product.merchant.id %></td>
            <td><% product.categories.each do |category| %>
            <li><%= category.name %></i>
            <% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

</section>

