
<div class="container w-100">
  <div class="row">
    <div class="col">
    <%= image_tag("https://www.bakersdelight.com.au/wp-content/uploads/2018/10/9650.jpg",  alt: "bread", class: "baguette", style: 'width: 100%') %>
    
 
    </div>
    <div class="col">
      <section class="product-details">
        <p>Name: <%= @product.name %></p>
        <p>Description: <%= @product.description %></p>
        <p>Price: <%= @product.price %></p>
        <p>stock: <%= @product.stock %></p>
        <p>Seller: <%= link_to @product.merchant.name, merchant_path(@product.merchant) %></p>
        <p>categories: <p><% @product.categories.each do |category| %>
        <li><%= link_to category.name, category_path(category) %></li>
          <%end%>
      </section>
      <section class="product-buttons">

        <%= form_tag order_items_path, method: :post do %>    
          <%= label_tag :quantity, "Quantity" %>
          <%= select_tag(:quantity, options_for_select((1..@product.stock), 1))%>
          <%= hidden_field_tag :product_id, @product.id %>
          <%= submit_tag "Add To Carb", class: "btn btn-secondary"%>
        <% end %> 
        </section>

<% if @current_merchant && @product.merchant_id == @current_merchant.id %>
<% if @product.active %>
      <%= link_to "Retire", retire_path(@product), method: "retire", class: "btn btn-secondary"%>
<% else %>
      Retired!
      <% end %> 
      <% end %> 

    </div>
    <div class="w-100"></div>

    <div class="col">

      <% if @current_merchant == @product.merchant %>
That's against the grain! As this product's merchant, you can't review your own product.
      <% end %>

    <%= link_to "Add a Review", review_path(@product), class: "btn btn-secondary" %>
     <% end %> 

     
    <h3>Reviews (<%= @product.reviews.count %>)</h3>

      <% @product.reviews.each do |review| %>
      <ul><%= review.rating %></ul>
      <ul><%= review.text %></ul>
    <% end %>
    </div>

    <div class="col">
    </div>

  </div>
</div>




</section>

