Name: <p><%= @product.name %></p>
Description: <p><%= @product.description %></p>
Price: <p><%= @product.price %></p>
photo url: <p><%= @product.photo_URL %></p>
stock: <p><%= @product.stock %></p>
merchant id: <p><%= @product.merchant.id %></p>
categories: <p><% @product.categories.each do |category| %>
<%= category.name %></p>
<%end%>
<%= form_with model: @order_item, url: add_to_cart_path, method: :patch do |f| %>    
  <%= f.label :quantity, "Quantity" %>
  <%= f.text_field :quantity %>
  <%= f.hidden_field :product_id, :value => @product.id %>
  <%= f.submit "Add To Cart" %>
  <% end %> 