Name: <p><%= @product.name %></p>
Description: <p><%= @product.description %></p>
Price: <p><%= @product.price %></p>
photo url: <p><%= @product.photo_URL %></p>
stock: <p><%= @product.stock %></p>
merchant id: <p><%= @product.merchant.id %></p>
categories: <p><% @product.categories.each do |category| %>
<%= category.name %></p>
<%end%>

<%= form_tag add_to_cart_path, method: :patch do %>    
  <%= label_tag :quantity, "Quantity" %>
  <%= text_field_tag :quantity %>
  <%= hidden_field_tag :product_id, @product.id %>
  <%= submit_tag "Add To Cart" %>
  <% end %> 