<!DOCTYPE html>
<html>
  <head>
    <title>Baguettsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope&display=swap" rel="stylesheet">
  </head>

  <body>
  
    <section>
      
      <nav class="navbar navbar-expand-lg navbar-light">
      <h2 class="toptitle font-weight-bold"><%= link_to "Baguettsy", root_path %></h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item nav-link">
              <%= link_to "View All Products", products_path %></li>
            </li>
            
            <li class="nav-item dropdown">
              <%= link_to "Browse by Category", categories_path, class:"nav-link dropdown-toggle", id:"navbarDropdown", role:"button", data_toggle:"dropdown", aria_haspopup:"true", aria_expanded:"false" %>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% @all_categories.each do |category| %>
                <%= link_to category.name, category_path(category), class:"dropdown-item" %>
                <%end%>
              </div>
            </li>

            <li class="nav-item dropdown">
                <%= link_to "Browse by Merchant", merchants_path, class:"nav-link dropdown-toggle", id:"navbarDropdown", role:"button", data_toggle:"dropdown", aria_haspopup:"true", aria_expanded:"false" %>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% @all_merchants.each do |merchant| %>
                <%= link_to merchant.name, merchant_path(merchant), class:"dropdown-item"%>
                <%end%>
              </div>
            </li>

            <li class="nav-item nav-link">
              <%= link_to "Find My Order", find_my_order_path %>
            </li>

          </ul>

          <ul class="nav navbar-nav navbar-right auto">
            
            <% if session[:order_id] %>	
              <li class="nav-item">
                <button type="button" class="btn btn-light"><%= link_to "View Shopping Carb", order_path(session[:order_id]) %></button>	
              </li>	
            <% end %>
            
            <% if session[:merchant_id] %>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Welcome, <%= session[:merchant_name] %>! 
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to "View Dashboard", dashboard_path(session[:merchant_id]), class:"dropdown-item" %>
                  <%= link_to "Log out", logout_path, method: "delete", class:"dropdown-item" %>
                </div>
              </li>
            <% else %>
              <button type="button" class="btn btn-light nav-link"><%= link_to "Login with Github", github_login_path %></button>
          <% end %>
          </li>
          </ul>
        </div>
      </nav>
    </section>
  
  
    <section class="flash">	
    <% if flash[:result_text] or flash[:messages] %>
      <section class="alert__container">
        <div class="alert alert-<%= flash[:status].to_s == 'failure' ? 'warning' : flash[:status] %>">
          <span><%= flash[:status].to_s == "failure" ? "A problem occurred: " : "" %><%= flash[:result_text] %></span>
          <% if flash[:messages] %>
            <ul>
              <% flash[:messages].each do |name, problems| %>
                <% problems.each do |problem| %>
                  <li><%= name %>: <%= problem %></li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </div>
      </section>
    <% end %>
    </section>	

    <%= yield %>
  </body>

    </body>

   <footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <p>Although our products may look delicious, this is only a student product and we are not currently accepting new orders. So, please don't give us your credit card information. Or, any other personal information for that matter.  </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Contact Us</a>
          </li>
          <li>
            <a href="#!">Find My Order</a>
          </li>
          <li>
            <a href="#!">About Us</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright: Breadwinners
  </div>
  <!-- Copyright -->

</footer>

</html>